* {
    font-family: "Montserrat", cursive;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #26335D;
}

.text {
    font-weight: 700;
    display: inline-block;
}

.nav-container {
    max-width: 1007px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

.nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 0;
}

.nav-ul {
    display: flex;
    list-style-type: none;
    margin-left: -130px;
}

.nav-logo a {
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

.nav-logo a:hover {
    color: #E74040;
    transition: 0.3s ease;
}

.nav-li a {
    margin-left: 21px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.nav-li a:hover {
    color: #E74040;
    transition: 0.3s ease;
}

.nav-li:first-child a {
    margin-left: 0;
}

/* btns */

.nav-join-us-btn,
.nav-login-btn {
    font-size: 14px;
    padding: 16px 28px;
    border-radius: 5px;
    background-color: #8D5CF6;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: -4px;
}

#nav-join-us-btn-img {
    margin-left: 10px;
}

.nav-login-btn {
    background-color: transparent;
    padding: 16px 40px;
}

.nav-join-us-btn:hover {
    background-color: #E74040;
    transition: 0.3s ease;
}

.nav-login-btn:hover {
    background-color: #E74040;
    transition: 0.3s ease;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

.text {
    color: #fff;
    margin-bottom: 36px;
    font-weight: 700px;
    font-size: medium;
}

.text-2 {
    color: #fff;
    font-size: 58px;
    margin-bottom: 35px;
    font-weight: 700;
    width: 500px;
    line-height: 80px;
}

.text-3 {
    color: #fff;
    font-size: 20px;
    font-weight: 500PX;
    margin-bottom: 36PX;
}

.showcase-btn {
    background-color: #8D5CF6;
    width: 133PX;
    height: 52PX;
    border-radius: 5px;
    padding: 15PX, 40PX, 15px, 40px;
    color: #fff;
    border: none;
}

.showcsase-btn2 {
    width: 162PX;
    height: 52PX;
    border-radius: 5PX;
    padding: 15PX, 40PX, 15PX, 40PX;
    border: 1px;
    margin-left: 5PX;
    border: none;
}

.showcase-btn:hover {
    background-color: #fff;
    color: black;

}

.showcsase-btn2:hover {
    background-color: #8D5CF6;
}

/* shocase inner */

.showcase-inner {
    display: flex;
    justify-content: space-between;
}

.showcase-left {
    margin-top: 155px;
}

/* image box */

#showcase-girl {
    transform: translateX(180px);
}

#showcase-calendar {
    transform: translate(105px, -552px);
}

#showcase-daraja {
    transform: translate(255px, -175px);
}

#showcase-stats {
    transform: translate(-270px, -288px);
}

.courses-section-mini-title {
    text-align: center;
    color: #8D5CF6;
    font-weight: 400px;
    font-size: 14px;
    margin-bottom: 10px;
    letter-spacing: 0.2px;
    margin-top: 4px;
}

.courses-section-title {
    text-align: center;
    font-weight: 700px;
    font-size: 40px;
    line-height: 52px;
    color: #fff;
    margin-bottom: 10px;
    letter-spacing: 0.3px;
}

.courses-section-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 0.3px;
}



.courses-card-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    gap: 30px;
    margin-top: 10px;

}

.courses-card {
    width: 328px;
    height: 288px;
    padding: 35px 40px 35px 40px;
    background-color: #fff;

}

.courses-card-img-box {
    display: flex;
    justify-content: center;
    margin-bottom: 23PX;

}

.courses-card-title {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.1px;
    margin-bottom: 23px;
}

.courses-card-text {
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.courses-card-line {
    background-color: #E74040;
    width: 50px;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.row {
    margin-left: 688px;
    margin-top: 385px;
}

.mini-title {
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    letter-spacing: -1px;
    line-height: 50px;
    margin-bottom: 38px;
    margin-top: 35px;

}

.text-4 {
    color: #fff;
    width: 381px;
    gap: 35px;
    font-size: 15px;
}

.text-5 {
    color: #8D5CF6;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-top: 35px;
    display: flex;
    align-items: center;
}

.text-5 img {
    margin-left: 11px;
}

.col-md-5-div {
    width: 94px;
    height: 7px;
    background-color: #E74040;
    margin-top: -43px;
}

.col-md-5 {
    margin-top: 43px;
}

#image2 {
    transform: translate(-665px, -440px);
}

#image3 {
    transform: translate(-355px, -750px);
}

#image4 {
    transform: translate(-800px, -570px);
}

#image5 {
    transform: translate(-610px, -898px);
}

#image6 {
    transform: translate(-250px, -708px);
}

#image7 {
    transform: translate(-650px, -810px);
}

.main-content-mini-title {
    color: #8D5CF6;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;

}

.main-content-title {
    width: 446px;
    height: 50px;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #fff;
    letter-spacing: 0.2px;
    text-align: center;
    margin-left: 350px;
    margin-bottom: 10px;
}

.main-content-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #fff;
}

#image8 {
    transform: translate(0px, 0px);
    width: 318px;
    height: 272px;
}

.container-left-mini-title {
    font-weight: 700;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #8D5CF6;
    margin-left: 20px;
    margin-top: -25px;
    margin-bottom: 8px;
}

.container-left-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-left: 20px;
    margin-bottom: 3px;
}


.container-left-mini-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-left: 20px;
    margin-bottom: 8px;
    color: #737373;
}

.container-left-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-left: 23px;
    margin-bottom: 13px;
}

.number-text {
    margin-left: 22px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.1px;
    color: #BDBDBD;
}

.number-text2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-left: 80px;
    margin-top: -20px;
    color: #FF7B52;
    margin-bottom: 5px;
}

.container-left-button {
    color: #8D5CF6;
    border-color: #8D5CF6;
    width: 140px;
    height: 44px;
    padding: 9px, 19px, 9px, 19px;
    border: 5px;
    border-radius: 37px;
    margin-left: 18px;
    font-weight: 700;
    font-size: 15px;
}

#image11 {
    transform: translate(93px, -64px);
}

#image12 {
    transform: translate(95px, -64px);
}

#image13 {
    transform: translate(98px, -64px);
}

.container-left {
    background-color: #fff;
    Width: 318px;
    Height: 566px;
    Padding: 25px, 25px, 35px, 25px;
    margin-left: 230px;
    margin-top: 70px;

}

.container-left-mini-button {
    background-color: #26335D;
    width: 50px;
    height: 26px;
    border-radius: 20px;
    padding: 5px;
    color: #fff;
    border: none;
    margin-left: 156px;
    margin-top: -30px;

}

#image14 {
    transform: translate(-10px, -15px);
    width: 16px;
    height: 16px;
}

.container-left-mini-text1 {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.2px;
    line-height: 16px;
    margin-left: 14px;

}

#image15 {
    transform: translate(-150px, -480px);
}

#image16 {
    transform: translate(0px, 0px);
    width: 318px;
    height: 272px;
}

.container-right-mini-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #8D5CF6;
    margin-top: -27px;
    margin-bottom: 27px;
    margin-left: 25px;
}

.container-right-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-left: 20px;
    margin-bottom: 4px;
    margin-top: -20px;
}


.container-right-mini-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-left: 20px;
    margin-bottom: 8px;
    color: #737373;
}

.container-right-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-left: 23px;
    margin-bottom: 13px;
}

.number-text3 {
    margin-left: 22px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.1px;
    color: #BDBDBD;
}

.number-text4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-left: 80px;
    margin-top: -20px;
    color: #FF7B52;
    margin-bottom: 5px;
}

.container-right-button {
    color: #8D5CF6;
    border-color: #8D5CF6;
    width: 140px;
    height: 44px;
    padding: 9px, 19px, 9px, 19px;
    border: 5px;
    border-radius: 37px;
    margin-left: 18px;
    font-weight: 700;
    font-size: 15px;
}



.container-right {
    background-color: #fff;
    Width: 318px;
    Height: 566px;
    Padding: 25px, 25px, 35px, 25px;
    margin-left: 560px;
    margin-top: -567px;
}

.container-right-mini-button2 {
    background-color: #26335D;
    width: 46px;
    height: 25px;
    border-radius: 20px;
    padding: 5px;
    color: #fff;
    border: none;
    margin-left: 150px;
    margin-top: 3px;

}



.container-right-mini-text2 {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.2px;
    line-height: 16px;
    margin-left: 14px;

}

#image17 {
    transform: translate(93px, -62px);
}

#image18 {
    transform: translate(95px, -62px);
}

#image19 {
    transform: translate(95px, -62px);
}

#image22 {
    transform: translate(-146px, -475px);
}

.container-box-mini-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #8D5CF6;
    height: 24px;
    margin-top: 150px;
    margin-bottom: 5px;
}

.container-box-title {
    color: #fff;
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    letter-spacing: 0.2px;
    text-align: center;
    height: 50px;
    margin-bottom: 5px;
}

.container-box-text {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: center;
}

.container-box-left {
    width: 455px;
    height: 380px;
    padding: 25px, 25px, 25px, 25px;
    background-color: #fff;
    margin-left: 86px;
    margin-top: 95px;

}

#container-box-left-img {
    transform: translate(163px, 13px);
}

.container-box-left-text {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-top: 29px;
}

.container-box-left-mini-text {
    font-size: 14px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: center;
    margin-top: 15px;
}

.container-box-left-mini-text2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: center;
    margin-top: 2px;
}

.container-box-left-img1 {
    transform: translate(167px, 8px);
}

.container-box-left-img2 {
    transform: translate(165px, 8px);
}

.container-box-left-img3 {
    transform: translate(162px, 8px);
}

.container-box-left-img4 {
    transform: translate(159px, 8px);
}

.container-box-left-img5 {
    transform: translate(157px, 8px);
}



#container-box-right-img {
    transform: translate(163px, 13px);
}

.container-box-right-mini-text {
    font-size: 14px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: center;
    margin-top: 13px;
}

.container-box-right-mini-text2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: center;
    margin-top: 2px;
}

.container-box-right-img1 {
    transform: translate(167px, 8px);
}

.container-box-right-img2 {
    transform: translate(165px, 8px);
}

.container-box-right-img3 {
    transform: translate(162px, 8px);
}

.container-box-right-img4 {
    transform: translate(159px, 8px);
}

.container-box-right-img5 {
    transform: translate(157px, 8px);
}



.container-box-right-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: center;
    margin-top: 33px;
    
}

#container-box-right-img {
    width: 128px;
    height: 128px;
    transform: translate(160px, -72px);
}



.chap{
    width: 800px;
    height: 500px;
    background-color:#26335D;
    display: flex;
    
}

.container-box-right {
    background-color: #fff;
    margin-left: 8px;
    margin-top: 87px;
    height: 310px;
    
    
}


.container-box2-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    letter-spacing: 0.2px;
    margin-top: 189px;
    margin-left: 510px;
    color: #fff;
    margin-bottom: 5px;
}

.container-box2-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #fff;
    text-align: center;
}

.container-box2-div-img {
    transform: translate(-10px, px);
}

.container-box2-div {
    background-color: #fff;
    width: 302px;
    height: 137px;
    border-radius: 9px;
    padding: 25px;
    margin-left: 68px;
    margin-top: 83px;
}

.container-box2-div-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-left: 30px;
    margin-top: -20px;
}


.container-box2-div-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-left: 30px;
}

.container-box2-div1 {
    background-color: #fff;
    width: 302px;
    height: 137px;
    border-radius: 9px;
    padding: 25px;
    margin-left: 70px;
    margin-top: 28px;
}

.container-box2-div-title1 {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-left: 30px;
    margin-top: -20px;
}


.container-box2-div-text1 {
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-left: 30px;
}

.container-box2-div2 {
    background-color: #fff;
    width: 302px;
    height: 137px;
    border-radius: 9px;
    padding: 25px;
    margin-left: 70px;
    margin-top: 28px;
}

.container-box2-div-title2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-left: 30px;
    margin-top: -20px;
}


.container-box2-div-text2 {
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-left: 30px;
}

.container-box2-div3 {
    background-color: #fff;
    width: 302px;
    height: 137px;
    border-radius: 9px;
    padding: 25px;
    margin-left: 400px;
    margin-top: -465px;
}

.container-box2-div-title3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-left: 30px;
    margin-top: -24px;
}


.container-box2-div-text3 {
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-left: 30px;
}

.container-box2-div4 {
    background-color: #fff;
    width: 302px;
    height: 137px;
    border-radius: 9px;
    padding: 25px;
    margin-left: 400px;
    margin-top: 26px;
}

.container-box2-div-title4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-left: 30px;
    margin-top: -24px;
}


.container-box2-div-text4 {
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-left: 30px;
}

.container-box2-div5 {
    background-color: #fff;
    width: 302px;
    height: 137px;
    border-radius: 9px;
    padding: 25px;
    margin-left: 400px;
    margin-top: 26px;
}

.container-box2-div-title5 {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-left: 30px;
    margin-top: -24px;
}


.container-box2-div-text5 {
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-left: 30px;
}

.container-box2-div6 {
    background-color: #fff;
    width: 302px;
    height: 137px;
    border-radius: 9px;
    padding: 25px;
    margin-left: 730px;
    margin-top: -465px;
}

.container-box2-div-title6 {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-left: 30px;
    margin-top: -24px;
}


.container-box2-div-text6 {
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-left: 30px;
}

.container-box2-div7 {
    background-color: #fff;
    width: 302px;
    height: 137px;
    border-radius: 9px;
    padding: 25px;
    margin-left: 730px;
    margin-top: 27px;
}

.container-box2-div-title7 {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-left: 30px;
    margin-top: -24px;
}


.container-box2-div-text7 {
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-left: 30px;
}

.container-box2-div8 {
    background-color: #fff;
    width: 302px;
    height: 137px;
    border-radius: 9px;
    padding: 25px;
    margin-left: 730px;
    margin-top: 27px;
}

.container-box2-div-title8 {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-left: 30px;
    margin-top: -24px;
}


.container-box2-div-text8 {
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-left: 30px;
}

.container-box3-mini-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #8D5CF6;
    margin-top: 242px;
    margin-bottom: 10px;
}

.container-box3-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}

.container-box3-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #fff;
}

#username {
    width: 688px;
    height: 58px;
    border-radius: 5px;
    border: 1px;
    background-color: #fff;
    margin-left: 205px;
    margin-top: 80px;
}

.container-box3-button {
    width: 117px;
    height: 58px;
    border-radius: 0px, 5px, 5px, 0px;
    border: 1px;
    background-color: #8D5CF6;
    margin-left: -120px;
    color: #fff;
}

.container-footer-box-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-top: 300px;
}